.topBar-include {
    height: 55px;
    background-color: #fff;
}

.topBar-include .topbar-main {
    position: relative;
    width: 100%;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 12px;
}

.topBar-include .topbar-main .topbar-menu {
    position: absolute;
    display: block;
    width: 179px;
    height: 54px;
    color: #fff;
    background-color: #cf1132;
}

.topBar-include .topbar-main .topbar-menu i {
    display: inline-block;
    width: 25px;
    height: 11px;
    margin-right: 5px;
    background: url(../images/sprite-w_dd519f4.png) no-repeat -90px -306px;
}

.topBar-include .topbar-main .topbar-logo {
    position: absolute;
    top: 5px;
    left: 50%;
    display: block;
    width: 133px;
    height: 44px;
    transform: translateX(-50%);
    background: url(../images/logo_b5525b7.png) no-repeat;
}

.topBar-include .topbar-main .topbar-right {
    position: absolute;
    top: 0;
    right: 130px;
    width: 138px;
    height: 54px;
    border-left: 1px solid #dadada;
}

.topBar-include .topbar-main .topbar-right a, .topBar-include .topbar-main .topbar-recommend a {
    color: #333;
}

.topBar-include .topbar-main .topbar-right a:hover, .topBar-include .topbar-main .topbar-recommend a:hover {
    color: #bc2e2e;
    background-color: #f3f3f3;
}

.topBar-include .topbar-main .topbar-recommend {
    position: absolute;
    top: 0;
    right: 0;
    width: 129px;
    height: 54px;
    border-left: 1px solid #dadada;
}

.topBar-include .topbar-main .topbar-recommend i {
    display: inline-block;
    width: 17px;
    height: 20px;
    margin-right: 5px;
    background: url(../images/sprite-w_dd519f4.png) no-repeat;
    background-position: -81px -343px;
    vertical-align: middle;
}

.topBar-include .topbar-main .topbar-recommend a:hover i {
    background: url(../images/sprite-w_dd519f4.png) no-repeat;
    background-position: -98px -343px;
}

.topBar-include .topbar-bottom {
    width: 100%;
    height: 0;
    border-bottom: 1px solid #d8d8d8;
}
.topbar-right:hover {
    background-image: linear-gradient(#f4f4f4, #fcfcfc);
}
/* topbar盒子自动旋转 */
.topbar-right ul li {
    list-style: none;
    /* 一会我们需要给box 旋转 也需要透视 干脆给li加 里面的子盒子都有透视效果 */
    perspective: 500px;
}

.box {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all .4s;
}

.box:hover {
    animation-play-state: paused;
}
.box{
    animation: box 4s linear infinite;
}
@keyframes box{
    0% {

    }
    100% {
         transform: rotateX(90deg);

    }
}
.front,
.bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.front {
    z-index: 1;
    transform: translateZ(17.5px);
}

.bottom {
    /* 这个x轴一定是负值 */
    /* 我们如果有移动 或者其他样式，必须先写我们的移动 */
    transform: translateY(17.5px) rotateX(-90deg);
    /* display: none; */
}

/* 顶部导航栏结束 */
