html,
body {
    width: 100%;
    min-height: 930px;
    max-width: 1920px;
    margin: 0 auto;
    height: auto;
    background: #fff;
}

.w {
    margin: auto;
    width: 1400px;
    margin: auto;
}

.topBar-include {
    position: relative;
    z-index: 999;
    overflow: hidden;
}

#inner {
    position: absolute;
    z-index: 1;
    width: 1400px;
    height: 1080px;
    top: 0;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform, -webkit-transform;
    box-sizing: content-box;
}

#inner .swiper-slide {
    height: 1080px;
    position: relative;
    overflow: hidden;
}

#inner video {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 50%;
    margin-left: -960px;
}

#inner .role {
    width: 1920px;
    height: 1080px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
}

#inner .swiper-slide-active .person,
#inner .swiper-slide-active .attr,
#inner .swiper-slide-active .title,
#inner .swiper-slide-active .desc,
#inner .swiper-slide-active .name,
#inner .swiper-slide-active .sex-switch,
#inner .swiper-slide-active .icon {
    opacity: 1;
    transform: translateX(0);
}

#inner .role .person {
    width: 1920px;
    height: 1080px;
    position: absolute;
    left: 50%;
    top: 55px;
    margin-left: -960px;
    transition: transform 0.8s ease;
}

.slide-huahun .role.female .person {
    background: url(../images/role_f_d6a6e0e3.png) no-repeat center top;
}

#inner .role .desc {
    width: 1920px;
    height: 1080px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    transition: all 1.1s ease;
}

.slide-huahun .role.female .desc {
    background: url(../images/desc_f_776d5cbe.png) no-repeat center top;
}

#inner .role .title,
#inner .role .attr,
#inner .role .icon {
    position: absolute;
}

#inner .role .title {
    transition: all 0.8s ease;
}

.slide-huahun .title {
    background: url(../images/title_7395357a.png) no-repeat;
    width: 231px;
    height: 301px;
    top: 229px;
    left: 50%;
    margin-left: 20px;
}

#inner .role .icon {
    transition: all 0.5s ease;
}

.slide-huahun .icon {
    background: url(../images/icon_585489e9.png) no-repeat;
    width: 176px;
    height: 153px;
    left: 50%;
    margin-left: 450px;
    top: 220px;
}

#inner .role .attr {
    transition: all 0.8s ease;
    width: 212px;
    height: 244px;
    left: 50%;
    margin-left: 5px;
    top: 540px;
}

.slide-huahun .attr {
    background: url(../images/attr_6ff17fb9.png) no-repeat;
}

#inner .role .btn-video {
    background: url(../images/btn-play_801d7429.png) no-repeat;
    width: 85px;
    height: 85px;
    position: absolute;
    left: 50%;
    margin-left: 495px;
    top: 405px;
    animation: btn-video 0.7s alternate infinite;
}

@keyframes btn-video {
    0% {}
    100% {
        transform: scale(1.2);
    }
}

#inner .role .name {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.slide-huahun .role.female .name {
    background: url(../images/name_f_a7c0a531.png) no-repeat;
}

.slide-huahun .name {
    background: url(../images/name_2f4d455d.png) no-repeat;
    width: 52px;
    height: 98px;
    position: absolute;
    left: 50%;
    margin-left: -586px;
    top: 354px;
}

#inner .role .sex-switch {
    position: absolute;
    top: 635px;
    left: 50%;
    margin-left: -635px;
    width: 89px;
    height: 160px;
    transition: all 0.8s ease;
}

#inner .role .sex-switch a.btn-male {
    background: url(../images/sprite-247b9d_247b9d8f.png) no-repeat;
    background-size: 332px 182px;
    background-position: -0px -0px;
    width: 89px;
    height: 89px;
}

#inner .role .sex-switch a {
    display: block;
    width: 89px;
    height: 89px;
}

#inner .role .sex-switch a.btn-female:hover,
#inner .role .sex-switch a.btn-female.active {
    background: url(../images/sprite-247b9d_247b9d8f.png) no-repeat;
    background-size: 332px 182px;
    background-position: -93px -93px;
    width: 89px;
    height: 89px;
}

#inner .role .sex-switch a.btn-female {
    margin-top: -15px;
    background: url(../images/sprite-247b9d_247b9d8f.png) no-repeat;
    background-size: 332px 182px;
    background-position: -0px -93px;
    width: 89px;
    height: 89px;
}

#inner .role .sex-switch a {
    display: block;
    width: 89px;
    height: 89px;
}

.footer {
    max-width: 1920px;
    height: 73px;
    text-align: center;
    background-color: #e2eaee;
    z-index: 999;
    position: relative;
    margin-top: 960px;
}

.footer-1 {
    display: inline-block;
    height: 48px;
    margin: 0 auto;
    text-align: left;
    padding: 15px 0 10px;
    line-height: 48px;
}

.link-pic {
    display: inline-block;
    padding: 0 10px;
}

.a-link3,
.a-link4,
.a-link5,
.a-link6 {
    vertical-align: middle;
    padding: 10px 5px 0;
}

.link-text {
    display: inline-block;
    height: 24px;
    vertical-align: top;
    margin-left: 15px;
    line-height: 10px;
}

.link-text i {
    height: 15px;
    font-style: normal;
    font-size: 12px;
}

.link-text-xq {
    position: relative;
    height: 35px;
    line-height: 35px;
}

.link-text-a a:hover {
    text-decoration: underline;
}

.link-text-jz {
    position: absolute;
    height: 26px;
    line-height: 26px;
    bottom: -10px;
    right: -327px;
    background-color: #610000;
    color: #fff;
}

.link-text-jz:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}

.topBar {
    position: relative;
    z-index: 999;
    height: 40px;
}

.topBar .logo {
    position: absolute;
    top: 70px;
    left: 50px;
    width: 211px;
    height: 68px;
    background: url(../images/logo_head.png) no-repeat;
}

.links-nav {
    position: absolute;
    top: 75px;
    right: 5%;
}

.links .links-nav li {
    float: left;
    height: 35px;
    width: 35px;
}

.links ul .t-icon1 {
    display: inline-block;
    height: 35px;
    width: 35px;
    background: url(../images/links.png) no-repeat 0px 0px;
}

.links ul .t-icon2 {
    display: inline-block;
    height: 35px;
    width: 35px;
    background: url(../images/links.png) no-repeat -39px 0px;
}

.links ul .t-icon3 {
    display: inline-block;
    height: 35px;
    width: 35px;
    background: url(../images/links.png) no-repeat -80px 0px;
}

.links-nav li {
    margin-left: 10px;
}

.links-hide-ul1 {
    display: none;
}

.links .qrCode {
    position: absolute;
    right: 16px;
    top: 34px;
}


/* 点击隐藏的盒子 */

.links-hide-ul {
    position: absolute;
    right: 0px;
    top: 34px;
    display: none;
    width: 30px;
    background: url(../images/sprite_wechat.png) no-repeat;
    background-size: 80%;
}

.links .links-hide-ul li {
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
}